<p-card>
  <p-table #dt [value]="Employees" sortMode="multiple" [paginator]="true" [rows]="5" [resizableColumns]="true"
    [rowsPerPageOptions]="[5,10,20,30]" [(selection)]="selectedRows" dataKey="id"
    [globalFilterFields]="['Name','Phone','Email','Gender']">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center">
        <h2 class="m-0">Employees</h2>
        <span class="p-input-icon-left ml-auto">
          <i class="fa fa-search mr-2"></i>
          <input type="text" pInputText placeholder="Search"
            (input)="dt.filterGlobal($any($event.target)?.value, 'contains')">
        </span>

      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon></th>
        <th pSortableColumn="Gender">Gender <p-sortIcon field="Gender"></p-sortIcon></th>
        <th pSortableColumn="Phone">Phone <p-sortIcon field="Phone"></p-sortIcon></th>
        <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
      <tr>
        <th *ngIf="displayCheckbox"></th>
        <th></th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target)?.value, 'Name', 'contains')"
            class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target)?.value, 'Gender', 'contains')"
            class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target)?.value, 'Phone', 'contains')"
            class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target)?.value, 'Email', 'contains')"
            class="p-column-filter">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td>{{rowData.id}}</td>
        <td>{{rowData.Name}}</td>
        <td>{{rowData.Gender}}</td>
        <td>{{rowData.Phone}}</td>
        <td>{{rowData.Email}}</td>
        <td>
          <button pButton class="mr-2 p-button-rounded p-button-text" icon="pi pi-user-edit" title="Edit"
            (click)="editEmp(rowData.id)">
          </button>
          <button pButton class="p-button-clear p-button-rounded p-button-text p-button-danger" icon="pi pi-trash"
            title="Delete" (click)="deleteEmp(rowData.id, $event)">
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="displayCheckbox" pTemplate="summary">
      <ul>
        <li *ngFor="let row of selectedRows" style="text-align: left">
          {{row.Name + ' - ' + row.Gender + ' - ' + row.Phone + ' - ' + row.Email}}
        </li>
      </ul>
    </ng-template>
  </p-table>
</p-card>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>