<h2 class="text-center mt-0">Template Driven Form</h2>
<div class="grid">
  <div class="col-12 lg:col-6 mb-4">
    <p-card [header]="update ? 'Create Employee':'Edit Employee'">
      <form #fm="ngForm" (ngSubmit)="onsubmit()">
        <div class="field">
          <h6 for="name" class="font-bold">id
          </h6>
          <div>
            <input type="text" id="name" pInputText class="w-full" [(ngModel)]="employee.id" name="id"
              placeholder="Enter Employee id" #id="ngModel" readonly (input)="isTyping = true "
              (blur)="isTyping = false">
            <div class="text-red-500 py-2" *ngIf="name.invalid && (name.dirty || name.touched)">id is required</div>
          </div>
        </div>
        <div class="field">
          <h6 for="name" class="font-bold">Name
          </h6>
          <div>
            <input type="text" id="name" pInputText class="w-full" [(ngModel)]="employee.Name" name="name"
              placeholder="Enter Employee Name" #name="ngModel" required (input)="isTyping = true"
              (blur)="isTyping = false">
            <div class="text-red-500 py-2" *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</div>
          </div>
        </div>
        <div class="field">
          <h6 class="font-bold">Gender</h6>
          <div>
            <div class="field-checkbox">
              <input type="radio" id="genderm" [(ngModel)]="employee.Gender" name="gender" value="Male"
                (input)="isTyping = true" (blur)="isTyping = false">
              <label for="genderm">Male
              </label>
            </div>
            <div class="field-checkbox">
              <input type="radio" id="genderf" [(ngModel)]="employee.Gender" name="gender" value="Female"
                (input)="isTyping = true" (blur)="isTyping = false">
              <label for="genderf">Female
              </label>
            </div>
          </div>
        </div>
        <div class="field">
          <h6 for="phone" class="font-bold">Phone
          </h6>
          <div>
            <input type="text" id="phone" name="phone" [(ngModel)]="employee.Phone" #phone="ngModel"
              placeholder="Enter Employee Phone" pInputText class="w-full" required (input)="isTyping = true"
              (blur)="isTyping = false">
            <div class="text-red-500 py-2" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Phone is required
            </div>
          </div>
        </div>
        <div class="field">
          <h6 for="email" class="font-bold">Email
          </h6>
          <div>
            <input type="email" id="email" name="email" pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$' [(ngModel)]="employee.Email" #email="ngModel"
              placeholder="Enter Employee Email" pInputText class="w-full" required (input)="isTyping = true"
              (blur)="isTyping = false">
            <div class="text-red-500 py-2" *ngIf="email.invalid && (email.dirty || email.touched)">Email is required
            </div>
          </div>
        </div>
        <div class="field">
          <button type="submit" pButton label="{{'Save'}}" class="w-full" [disabled]="fm.invalid"
            *ngIf="update"></button>
          <button type="submit" pButton label="{{'Update'}}" class="w-full" [disabled]="fm.invalid"
            *ngIf="!update"></button>
        </div>
      </form>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 mb-4">
    <p-card header="Form Status: {{fm.status}}" [ngClass]="{'valid' : fm.status == 'VALID'}">
      <div class="py-3" [ngClass]="{'updated': isTyping}">
        <pre>{{fm.value | json}}</pre>
      </div>
    </p-card>
  </div>
</div>