/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9ecef;
}
.p-menubar {
  border-radius: 0;
}
.valid .p-card-title {
  color: var(--green-500);
}
.updated {
  font-weight: 600;
  transition: all 100ms ease-in-out;
}